{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "eol-last": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-underscore-dangle": ["error", { "allow": ["__isCMS", "__html"] }],
    "no-trailing-spaces": 0,
    "import/no-named-as-default": 0,
    "max-len": 0,
    "object-curly-spacing": 0,
    "spaced-comment": ["error", "always"],
  }
}
